<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Top Saleperson</h5>
    <p class="card-text">
    Thou hast sold the most blue cars: 
    <%= @salesperson%>
    </p>
  </div>
</div>
